# NOTE: 开启严格模式
engine-strict=true

# NOTE: 开启授权
always-auth=true

# NOTE: https://pnpm.io/npmrc 针对pnpm做的特殊设置
# node-linker=hoisted
auto-install-peers=true
strict-peer-dependencies=false


# NOTE: 以下是二进制镜像配置, 可加速下载
CYPRESS_DOWNLOAD_MIRROR=https://npmmirror.com/mirrors/cypress
advpng-bin-mirror=https://npmmirror.com/mirrors/advpng-bin
ali-zeromq-mirror=https://npmmirror.com/mirrors/ali-zeromq
argon2_binary_host_mirror=https://npmmirror.com/mirrors/argon2
argon2_mirror=https://npmmirror.com/mirrors/argon2
atom-shell-mirror=https://npmmirror.com/mirrors/atom-shell
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
chromium-browser-snapshots=https://npmmirror.com/mirrors/chromium-browser-snapshots
couchbase_binary_host_mirror=https://npmmirror.com/mirrors/couchbase
cwebp-bin-mirror=https://npmmirror.com/mirrors/cwebp-bin
cypress-mirror=https://npmmirror.com/mirrors/cypress
debug_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector
disturl=https://npmmirror.com/mirrors/node
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries
electron_mirror=https://npmmirror.com/mirrors/electron
flow-bin_binary_host_mirror=https://npmmirror.com/mirrors
flow-mirror=https://npmmirror.com/mirrors/flow
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents
fuse-bindings_binary_host_mirror=https://npmmirror.com/mirrors
geckodriver_cdnurl=https://npmmirror.com/mirrors/geckodriver
gif2webp-bin-mirror=https://npmmirror.com/mirrors/gif2webp-bin
gifsicle-bin-mirror=https://npmmirror.com/mirrors/gifsicle-bin
git4win-mirror=https://npmmirror.com/mirrors/git-for-windows
gl_binary_host_mirror=https://npmmirror.com/mirrors
gl_mirror=https://npmmirror.com/mirrors/gl
grpc_mirror=https://npmmirror.com/mirrors/grpc
grpc_node_binary_host_mirror=https://npmmirror.com/mirrors
grpc_tools_binary_host_mirror=https://npmmirror.com/mirrors
guetzli-bin_binary_site=https://npmmirror.com/mirrors/guetzli-bin
hackrf_binary_host_mirror=https://npmmirror.com/mirrors
iohook-mirror=https://npmmirror.com/mirrors/iohook
jpeg-recompress-bin_binary_site=https://npmmirror.com/mirrors/jpeg-recompress-bin
jpegoptim-bin_binary_site=https://npmmirror.com/mirrors/jpegoptim-bin
jpegtran-bin_binary_site=https://npmmirror.com/mirrors/jpegtran-bin
leveldown-hyper_binary_host_mirror=https://npmmirror.com/mirrors/leveldown-hyper
leveldown_binary_host_mirror=https://npmmirror.com/mirrors/leveldown
libjpeg-turbo-mirror=https://npmmirror.com/mirrors/libjpeg-turbo
libjpeg-turbo_binary_host_mirror=https://npmmirror.com/mirrors
looksgood-s2-mirror=https://npmmirror.com/mirrors/looksgood-s2
minikube-mirror=https://npmmirror.com/mirrors/minikube
mknod_binary_host_mirror=https://npmmirror.com/mirrors
mozjpeg-bin_binary_site=https://npmmirror.com/mirrors/mozjpeg-bin
node-canvas-prebuilt-mirror=https://npmmirror.com/mirrors/node-canvas-prebuilt
node-chakracore-mirror=https://npmmirror.com/mirrors/node-chakracore
node-swc-mirror=https://npmmirror.com/mirrors/node-swc
node-tk5_binary_host_mirror=https://npmmirror.com/mirrors
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors
node_sqlite3_binary_site=https://npmmirror.com/mirrors/sqlite3
nodegit_binary_host_mirror=https://npmmirror.com/mirrors/nodegit
nodegit_mirror=https://npmmirror.com/mirrors/nodegit
nodejieba-mirror=https://npmmirror.com/mirrors/nodejieba
nodejieba_binary_host_mirror=https://npmmirror.com/mirrors/nodejieba
npm-mirror=https://npmmirror.com/mirrors/npm
nwjs_urlbase=https://npmmirror.com/mirrors/nwjs/v
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
optipng-bin_binary_site=https://npmmirror.com/mirrors/optipng-bin
phantomjs-cdnurl=https://npmmirror.com/mirrors/phantomjs
pngcrush-bin_binary_site=https://npmmirror.com/mirrors/pngcrush-bin
pngout-bin_binary_site=https://npmmirror.com/mirrors/pngout-bin
pngquant-bin_binary_site=https://npmmirror.com/mirrors/pngquant-bin
poi-mirror=https://npmmirror.com/mirrors/poi
prisma-mirror=https://npmmirror.com/mirrors/prisma
prisma_engines_mirror=https://npmmirror.com/mirrors/prisma
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector
puppeteer_download_host=https://npmmirror.com/mirrors
python-mirror=https://npmmirror.com/mirrors/python
python_mirror=https://npmmirror.com/mirrors/python
rabin_binary_host_mirror=https://npmmirror.com/mirrors
rc_binary_site=https://npmmirror.com/mirrors/node-rc
re2_binary_site=https://npmmirror.com/mirrors/node-re2
robotjs-mirror=https://npmmirror.com/mirrors/robotjs
sass-embedded-mirror=https://npmmirror.com/mirrors/sass-embedded
sass_binary_site=https://npmmirror.com/mirrors/node-sass
saucectl-mirror=https://npmmirror.com/mirrors/saucectl
saucectl_install_binary_mirror=https://npmmirror.com/mirrors/saucectl
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
selenium_mirror=https://npmmirror.com/mirrors/selenium
sentry_cli_binary_host_mirror=https://npmmirror.com/mirrors
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli
sharp-libvips-mirror=https://npmmirror.com/mirrors/sharp-libvips
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_binary_host_mirror=https://npmmirror.com/mirrors
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
sharp_libvips_binary_host_mirror=https://npmmirror.com/mirrors
sharp_mirror=https://npmmirror.com/mirrors/sharp
sodium-prebuilt_binary_host_mirror=https://npmmirror.com/mirrors
swc-mirror=https://npmmirror.com/mirrors/swc
swc_binary_site=https://npmmirror.com/mirrors/node-swc
tensorflow-mirror=https://npmmirror.com/mirrors/tensorflow
tf-builds-mirror=https://npmmirror.com/mirrors/tf-builds
tfjs-models-mirror=https://npmmirror.com/mirrors/tfjs-models
usb_ctrl=https://npmmirror.com/mirrors/ali-usb_ctl
utf-8-validate_binary_host_mirror=https://npmmirror.com/mirrors/utf-8-validate
utp-native_binary_host_mirror=https://npmmirror.com/mirrors
xprofiler-mirror=https://npmmirror.com/mirrors/xprofiler
xprofiler_binary_host_mirror=https://npmmirror.com/mirrors/xprofiler
zeromq-mirror=https://npmmirror.com/mirrors/zeromq
zmq-prebuilt_binary_host_mirror=https://npmmirror.com/mirrors
zmq_binary_host_mirror=https://npmmirror.com/mirrors/ali-zeromq
zopflipng-bin-mirror=https://npmmirror.com/mirrors/zopflipng-bin